@charset "UTF-8";

/*
 * @autor : Pedro CADETE
 * @email : pdr.cadete@gmail.com
 * @date : 2013
 */

/* ######################################## */
/* 1 - Reset */
html, body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, a, span, blockquote, label, input, textarea, form, fieldset{
    border: 0;
    font: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

input{vertical-align: middle;}

textarea{
    width: 100%;
    max-width: 100%!important;
}

img {border: none;}

/* ######################################## */
/* 2 - Basic Styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #565656;
    background: none repeat scroll 0 0 #F7F6F5;
    line-height: 20px;
}

h1, h2, h3, h4, h5, h6{
    color: #383838;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {font-size: 1.72em;}
h2 {font-size: 1.62em;line-height: 1.6;}
h3 {font-size: 1.42em;}
h4 {font-size: 1.16em;}
h5 {font-size: 0.9em;}
h6 {font-size: 0.75em;}

a:link {
    color: #383838;
    text-decoration: none;
}

a:visited {color: #383838;}

a:hover{text-decoration: none;}

a:active, a:hover, a.active, .active a{color: #69C75A;}

/* ######################################## */
/* 3 - Global */
#main{
    background-color: #FFFFFF;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.3);
    margin: 0 auto 50px;
    overflow: hidden;
    position: relative;
    width: 940px;
}

#section, #footer{
    background-color: #FFFFFF;
    width: 940px;
}

#section:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#article{
    float: left;
    width: 630px;
    text-align: justify;
}

#article > h1{
    line-height: 1.2;
    padding-top: 4px;
}

.art-topinfos, .art-infos, .feed-art-com, .feed-art-cat, .feed-arts {
    font-size: 0.78em;
    color:#69C75A;
}
.art-topinfos a, .art-infos a, .feed-art-com a, .feed-art-cat a, .feed-arts a {color:#69C75A;}

.art-topinfos a:hover, .art-infos a:hover, .feed-art-com a:hover, .feed-art-catt a:hover, .feed-arts a:hover {text-decoration: underline;}

.art-chapo{margin: 10px 0;}

.art-infos{
    border-bottom: 1px solid #CCCCCC;
    margin: 0 0 10px 0;
    padding: 0 0 20px 0;
}

#article > h1, #article h1 + p, .art-topinfos, .art-chapo, .art-content, #footer p, .art-infos, .feed-art-com, .feed-art-cat, .feed-arts, .static-content, .error-content{
    padding-left: 20px;
    padding-right: 20px;
}

.author-infos{
    background: #ffffff url('img/border.jpg') repeat-x bottom;
    margin: 0 20px;
    padding: 10px;
}

.more{
    font-size: 1.2em;
    margin: 20px 0 0 0;
}

#article ul, #article ol{margin: 0 0 0 20px;}

#breadcrumbs{
    border-bottom: 1px solid #EBEBEB;
    font-size: 13px;
    padding: 0px 15px 2px 6px
}

#breadcrumbs, #breadcrumbs a{color: #565656}

#breadcrumbs a:hover{
    color: #69C75A;
    text-decoration: none
}


/* ######################################## */
/** 3-1 - Header **/

#banner {
    background-image:url('img/fond.png');
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.3);
    height: 110px;
    margin-bottom: -12px;
    padding-top: 8px;
}

#logo-menu {
    margin: 0 auto 0px;
    width: 940px;
}

#logo-menu .title{
    font-size: 3.40em;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-shadow: 2px 1px 5px #000000;
    position: relative;
    margin-right: 18px;
    margin-top: 20px;
    margin-bottom: 24px;
}

#logo-menu .title + p{
    display: inline;
    color: #DDDDDD;
    font-size: 1.3em;
    position: relative;
}

#logo-menu li{
    display: inline;
    margin: 0 20px 0 0;
    padding: 0px 0;
    color: #DDDDDD;
}

#logo-menu a:link {
    color: #DDDDDD;
    text-decoration: none;
}

#logo-menu a:visited {color: #DDDDDD;}

#logo-menu ul a:hover{
    color: #69C75A;
    text-decoration: none;
}

#logo-menu .static-pages{
    float: right;
    margin-top: 64px;
}

/* ######################################## */
/** 3-2 - sidebar **/
#aside{
    float: right;
    padding: 5px 30px 0 20px;
    width: 236px;
    vertical-align: baseline;
}

#aside h3{
    line-height: 1.5;
    border-bottom : 1px solid #CCCCCC
}

#aside ul{
    margin: 5px 0 10px 0;
    list-style-type: none;
}

#aside p{
    margin: 5px 0 10px 0;
}

#aside a{
    margin-right: 10px;
}

/* ######################################## */
/** 3-3 - Footer **/
#footer{
    border:er-top: 1px solid #CCCCCC;
    padding: 10px 0;
    font-size: 1.0em;
    background: none repeat scroll 0 0 #EEE;
    color: #666;
}

#footer li{
    float: right;
    display: inline;
    margin: 0 14px 0 0;
}

#footer img{vertical-align: sub;}

/* ######################################## */
/* 4 - Comments & Forms */
#comments{background: url('img/border.jpg') repeat-x bottom;}

#comments h2{
    margin: 15px 0 0 0;
    padding-left: 20px;
    padding-right: 20px;
}

#form{
    margin: 0 20px;
    padding: 0 0 10px 0;
}

#form h2{
    line-height: 1;
    padding: 5px 0 10px 0px;
}

blockquote{margin: 15px 20px 20px 20px;}

.num-com{
    float: right;
    font-size: 0.8em;
}

.info_comment {font-size: 1.2em;}

.content_com {padding: 15px 15px 15px 15px;}

.type-normal {background-color: #ffffff;}

.type-admin {background-color: #D9DFE0;}

.feed-art-com{
    margin: 0 0 10px 0;
    padding: 0 20px 0px 20px;
    font-size: 14px;
}

.feed-art-cat{
    text-align: left;
    padding-left: 6px;
    font-size: 13px;
}

.com-alert{
    color: #E00000;
    font-weight: bold;
    text-align: center;
}

label{
    display: block;
    margin: 0 0 5px 0;
}

input[type=text], textarea{
    border: 1px solid #AAAAAA;
    margin: 0 0 1px 0;
}

input[type=text]:hover, textarea:hover{
    border: 1px solid #AAAAAA;
    cursor: pointer;
}

input[type=text]:focus, textarea:focus{
    border: 1px solid #777777;
}

input[type=submit], input[type=submit] + p{
    display: inline;
}

input[type=submit] + p{
    margin: 0 0 -5px 10px;
}

input[type=submit]{
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    padding: 1px 1px;
    margin-top: 2px;
}

input[type=submit]:hover{
    background-color: #69C75A;
    color: #FFFFFF;
    cursor: pointer;
}

input[type=submit]:active{
    background-color: #69C75A;
}

/* ######################################## */
/** 5 - Pagination **/
#pagination{
    text-align:center;
    padding: 0 0 5px 0;
    font-size: 0.8em;
    margin: 20px 0 5px 20px;
}

#pagination span{
    margin-right:5px;
}

#pagination .p_page{
    border: 1px #DDDDDD solid;
    padding: 3px 5px;
}

#pagination .p_prev a, #pagination .p_first a, #pagination .p_last a, #pagination .p_next a{
    border: 1px #DDDDDD solid;
    padding: 3px 5px;
}

#pagination span a:hover{
    background-color: #69C75A;
    color: #FFFFFF;
    cursor: pointer;
}

/* ######################################## */
/* Thanks to : http://nicolasgallagher.com/pure-css-social-media-icons/  */
#social {margin: 5px 0 10px;}

#social img {
    width: 56px;
    height: 56px;
    margin-right: -10px;
}

#social img a{
    margin-right: 0px;
    display:block;
    width:54px;
    height:54px;
    overflow:hidden;
    border:1px solid transparent;
    line-height:64px;
    text-decoration:none;
    /* css3 */
    text-shadow:0 -1px 0 rgba(0,0,0,0.5);
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px; /* standards version last */
}

#social a:hover,
#social a:focus,
#social a:active {
   opacity:0.8;
   border-color:#000;
}
